/* General */



/* Base Template */

.wrapper .container {
	max-width: 80rem;
}

.navigation {
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    width: 100%;
}

.navigation__title {
	color: #606c76;
	display: inline;
	line-height: 5.2rem;
	position: relative;
}

.navigation__title .title__image {
	height: 2.0rem;
    position: relative;
    top: .3rem;
}

.navigation__title .title__text {
	display: inline;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: .1rem;
	text-transform: uppercase;
	color: #9b4dca;
}

.navigation__list {
	float: right;
	list-style: none;
	margin-bottom: 0;
}

.navigation__list .list__item {
	float: left;
	margin-bottom: 0;
	margin-left: 2.5rem;
	position: relative;
}

.navigation__list .list__item__link {
	line-height: 5.2rem;
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: .1rem;
	text-transform: uppercase;
	color: #9b4dca;
}

.content {
	padding-top: 7.5rem;
	padding-bottom: 7.5rem;
}


/* Signup Page */

.signup {
	max-width: 36rem;
	margin: 0 auto;
	background-color: #f4f5f6;
	border: .1rem solid #d1d1d1;
	padding: 3rem;
	border-radius: 2rem;
}

.signup__header {
	font-weight: bold;
	color: #9b4dca;
	margin-bottom: 2rem;
	text-align: center;
}

.signup__message {
	text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
}

.signup__terms {
	font-weight: 300;
	color: #A3AFAB;
	text-align: center;
	padding-bottom: 1rem;
}

.signup .form__input {
	
}

.signup .form__submit {
	margin-top: .5rem;
	width: 100%;
}


/* Login Page */

.login {
	max-width: 36rem;
	margin: 0 auto;
	background-color: #f4f5f6;
	border: .1rem solid #d1d1d1;
	padding: 3rem;
	border-radius: 2rem;
}

.login__header {
	font-weight: bold;
	color: #9b4dca;
	margin-bottom: 2rem;
	text-align: center;
}

.login__message {
	text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
}

.login__footer {
	font-weight: 300;
	color: #A3AFAB;
	text-align: center;
	padding-bottom: 1rem;
}

.login .form__input {
	
}

.login .form__submit {
	margin-top: .5rem;
	width: 100%;
}


/* New post page */

.newpost {

}

.newpost__form {

}

.newpost .form__input {
	font-size: 4rem;
	font-weight: 700;
	border: none;
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 0;
	margin-bottom: 0;
}

.newpost .form__textarea {
	min-height: 50rem;
	border: none;
	padding-left: 0;
	font-size: 2.1rem;
}

.newpost .form__input:focus,
.newpost .form__textarea:focus {
	border: none;
}

.newpost .form__submit {

}

.newpost .form__message {
    font-weight: 300;
    margin-left: 1rem;
}

/* Edit post page */

.editpost {

}

.editpost__form {

}

.editpost .form__input {
	font-size: 4rem;
	font-weight: 700;
	border: none;
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 0;
	margin-bottom: 0;
}

.editpost .form__textarea {
	min-height: 50rem;
	border: none;
	padding-left: 0;
	font-size: 2.1rem;
}

.editpost .form__input:focus,
.editpost .form__textarea:focus {
	border: none;
}

.editpost .form__submit {

}

.editpost .form__message {
    font-weight: 300;
    margin-left: 1rem;
}


/* Post template */

.post {
	margin-bottom: 2.0rem;
}

.post__meta {
	margin-bottom: 2rem;
	clear: both;
	position: relative;
}

.post .meta__author {
	width: 5rem;
	height: 5rem;
	vertical-align: middle;
	display: inline-block;
}

.post .meta__author__image {
	width: auto;
	height: 100%;
}

.post .meta__post {
	vertical-align: middle;
	display: inline-block;
	padding-left: 1.5rem;
}

.post .meta__post__author {
	font-weight: 700;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

.post .meta__post__date {

}

.post__title {
	font-size: 4rem;
	font-weight: 700;
}

.post__content {
	font-size: 2.1rem;
}

.post__like {
	float: left;
	margin-bottom: 4rem;
}

.post .like__icon {
	width: 2.5rem;
	height: 2.5rem;
	vertical-align: middle;
}

.post .like__count {
	font-size: 2rem;
	vertical-align: middle;
	margin-left: 0.5rem;
}

.post__edit {
	display: inline-block;
	margin-left: 2rem;

}

.post__edit .edit__icon {
	width: 2.5rem;
	height: 2.5rem;
	vertical-align: middle;
}

.post__delete {
	display: inline-block;
	margin-left: 2rem;
	padding-left: 2rem;
	border-left: .1rem solid #d1d1d1;

}

.post__delete .delete__icon {
	width: 2.5rem;
	height: 2.5rem;
	vertical-align: middle;
}

.post__comment {
	display: inline-block;
	margin-left: 2rem;

}

.post__comment .comment__icon {
	width: 2.5rem;
	height: 2.5rem;
	vertical-align: middle;
}

.post__dislike {
	display: inline-block;
	margin-left: 2rem;
	padding-left: 2rem;
	border-left: .1rem solid #d1d1d1;
}

.post__dislike .dislike__icon {
	width: 2.5rem;
	height: 2.5rem;
	vertical-align: middle;
}


/* Comments */

.comments {
	margin-top: 8rem;
}

.comment {
	border: .1rem solid #d1d1d1;
	margin-top: 2.0rem;
	padding: 2.0rem;
}

.comment__header {
	margin-top: 4.0rem;
	margin-left: 2.0rem;
}

.comment__meta {
	margin-bottom: 2rem;
}

.comment .meta__author {
	width: 3.6rem;
	height: 3.6rem;
	vertical-align: middle;
	display: inline-block;
}

.comment .meta__author__image {
	width: auto;
	height: 100%;
}

.comment .meta__comment {
	vertical-align: middle;
	display: inline-block;
	padding-left: 0.5rem;
	font-size: 1.4rem;
}

.comment .meta__comment__author {
	font-weight: 700;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

.comment .meta__comment__date {
	
}

.comment__content {
	font-size: 1.8rem;
}

.comment__delete {
	display: inline-block;
	margin-left: 1rem;
	float: right;
}

.comment .delete__icon {
	width: 2.0rem;
	height: 2.0rem;
	vertical-align: middle;
}

.comment__edit {
	display: inline-block;
	margin-left: 1rem;
	float: right;
}

.comment .edit__icon {
	width: 2.0rem;
	height: 2.0rem;
	vertical-align: middle;
}


/* Footer */

.footer {
	margin-bottom: 2rem;
}

/* Helpers */

