<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FSND Blog</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
	<link rel="stylesheet" href="/static/milligram.min.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<div class="wrapper">
		<nav class="navigation">
			<div class="container">
				<a href="/" class="navigation__title">
					<img class="title__image" src="/static/images/compose.svg" alt="">
					<h1 class="title__text">Udacity Blog</h1>
				</a>
				<ul class="navigation__list">
					<li class="list__item">
						<a href="/signup" class="list__item__link">Signup</a>
					</li>
					<li class="list__item">
						<a href="/login" class="list__item__link">Login</a>
					</li>
				</ul>
			</div>
		</nav>
		<section class="content">
			<div class="container">
				{% block content %}
				{% endblock %}
			</div>
		</section>
	</div>
</body>
</html>