{% extends "base.html" %}

{% block content %}
  
	{% if user %}
		{{post.render(user.key().id()) | safe}}
		<br><br>
	{% else %}
		{{ post.render(None) | safe }}
	{% endif %}

	{% if user and user.key().id() == post.user_id %}
		<a href="/{{post.key().id()}}/delete/{{post.user_id}}">
			<button class="button-outline">Delete</button>
		</a>
		<a href="/{{post.key().id()}}/edit">
			<button class="button-outline">Edit</button>
		</a>
	{% elif user %}
		<a href="/{{post.key().id()}}/like">
			<button class="button-outline">Like</button>
		</a>
		<a href="/{{post.key().id()}}/unlike">
			<button class="button-outline">Unlike</button>
		</a>
	{% endif %}

	{% for c in comments %}
		<div class="comment">
		    <div class="comment__meta">
		        <div class="meta__author">
		            <img class="meta__author__image" src="/static/images/compose.svg" alt="">
		        </div>
		        <div class="meta__comment">
		            <div class="meta__comment__author">{{c.user_id}}</div>
		            <div class="meta__comment__date">{{c.created.strftime("%b %d, %Y")}}</div>
		        </div>
		    </div>
		    <p class="comment__content">
		        {{ c.content }}
		    </p>
		    {% if user and user.key().id() == c.user_id %}
		    	<a href="/{{post.key().id()}}/{{c.user_id}}/{{ c.key().id() }}/deletecomment">
		    		<button class="button-outline">Delete</button>
		    	</a>
		    	<a href="/{{post.key().id()}}/{{c.user_id}}/{{ c.key().id() }}/editcomment">
		    		<button class="button-outline">Edit</button>
		    	</a>
		    {% endif %}
		</div>

	{% endfor %}

	{% if user %}
		<a href="/{{post.key().id()}}/addcomment/{{user.key().id()}}">
			<button class="button-outline">Add Comment</button>
		</a>
	{% endif %}

  
{% endblock %}